body {
   margin: 0;
   text-align: center;
   font-family: "Merriweather", serif;
   color: #40514E;
}

h1 {
   margin : 50px auto -40px auto;
   font-size: 5.625rem;
   font-family: "Sacramento", cursive;
   color: #66BFBF;
   /*line-height: 2;*/
}

h2 {
   font-size: 2.5rem;
   font-family: "Montserrat", sans-serif;
   color: #66BFBF;
   font-weight: normal;
   padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color:  #11999E;
}

a {
  color:  #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;

}

a:hover {
  color: #EAF6F6;
}

/*p {
  font-weight: bold;
}*/
hr {
  border: dotted #EAF6F6 5px;
  border-bottom: none;
  width: 4% ;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #CAF0F8;
  padding-top: 50px;
}

.profile-pic {
    border-radius: 53%;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.Coding {
    width: 25%;
    float: left;
    /* This Also Works padding-right: 30px;*/
    margin-right: 30px;
}

.Cooking {
   width: 25%;
   float:  right;
   margin-left: 30px;
}

/*.Coding-skills-description {
   clear: left;
}

.Cooking-skills-description {
  clear: right;
}*/
.intro {
  width: 30%;
  margin: 0 auto;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  top: 355px;
  left: 100px;
}

.top-cloud {
  position: relative;
  left: 450px;
  top: 40px;
}

.contact-message {
  width: 40%;
  margin: 40px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}
